.popup {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 10px;
    width: 100%;
    height: 100vh;
    background-color: #0B0A0F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    font-family: serif;
    background-color: rgba(0, 0, 0, 0.527);
    color: #cfcccc;
    
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #15131b;
    color: #9b9b9b;
}